<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <title>Formulário</title>
  </head>
  <body>
    <div class="col-8 m-auto pt-md-3 pb-2 text-center">
      <h1>Cadastro</h1>
    </div>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
      <a href="/dashboard" class="btn btn-info">Voltar</a>
    </div>
    <div id="result" class="col-8 m-auto pt-2 pb-2 text-center"></div>
    <div class="col-24 m-auto pt-4 pb-2 text-center d-flex justify-content-center">
      <form
        name="form"
        id="form"
        action="{% if db %}{% if perms.app.can_edit_books %}/update/{{db.id}}/{% endif %}{% else %}/create/{% endif %}"
        method="post"
        class="col-md-offset-4"
      >
        {% csrf_token %}
        <div class="form-group">
          <label for="livro" class="d-flex">Livro:</label>
          <input type="text" class="form-control" name="livro" id="livro" value="{{db.livro}}" />
        </div>
        <div class="form-group">
          <label for="autor" class="d-flex">Autor(a):</label>
          <input type="text" class="form-control" name="autor" id="writter" value="{{db.autor}}" />
        </div>
        <div class="form-group">
          <label for="editora" class="d-flex">Editora:</label>
          <input
            type="text"
            class="form-control"
            name="editora"
            id="publisher"
            value="{{db.editora}}"
          />
        </div>
        <div class="form-group">
          <label for="ano" class="d-flex">Ano:</label>
          <input type="text" class="form-control" name="ano" id="year" value="{{db.ano}}" />
        </div>
        <input type="submit" class="btn btn-success mt-2" value="Salvar" />
      </form>
    </div>
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
  </body>
</html>
